@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .FTSContainer {
    @apply mx-auto;
  }

  .FTSContainer section,
  .FTSContainer header,
  .FTSContainer footer {
    @apply px-[1rem] lg:px-[4rem] xl:px-[6rem] 2xl:px-[7rem];
  }
}

html {
  scroll-behavior: smooth;
}

main > * {
  @apply bg-secondary;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 5%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 5%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 5%;

    --primary: 209 61% 40%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 5%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;

    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 92%;
    --input: 0 0% 85%;
    --ring: 0 0% 76%;

    --radius: 0.5rem;

    --header-padding: 1.675rem;
    --header-height: calc(var(--header-padding) * 2 + 1.2rem);
    --section-height: calc(100vh - var(--header-height));
    --hero-height: calc(var(--section-height) + var(--header-height));

    --font-size-h1: 3rem;
    --font-size-h2: 2.5rem;
    --font-size-h3: 2.063rem;
    --font-size-h4: 1.75rem;
    --font-size-h5: 1.438rem;

    --font-size-t1: 1.188rem;
    --font-size-t2: 1rem;

    --font-size-b1: 0.813rem;
    --font-size-b2: 0.688rem;

    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
  }

  .dark {
    --background: 240 3% 6%;
    --foreground: 0 0% 98%;

    --card: 210 6% 7%;
    --card-foreground: 0 0% 98%;

    --popover: 210 6% 7%;
    --popover-foreground: 0 0% 98%;

    --primary: 209 61% 40%;
    --primary-foreground: 0 0% 98%;

    --secondary: 210 5% 15%;
    --secondary-foreground: 0 0% 98%;

    --muted: 210 5% 22%;
    --muted-foreground: 210 5% 49%;

    --accent: 207 45% 14%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 200 5% 12%;
    --input: 210 4% 18%;
    --ring: 209 61% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
